@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body,
h1,
h2 {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif;
}

.hero-section {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    color: #ffffff;
    background-color: #000;
}

.video-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.video-background-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 2;
}

.hero-content {
    position: relative;
    left: 10%;
    top: 15%;
    z-index: 3;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-family: "Lora", serif;
}

.hero-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
}


#welcome_area {
    background-color: rgba(255, 253, 253, 0.19);
    width: 70%;
    height: 3.2rem; 
    
    padding: 0.2rem 1rem; 
    
    display: flex;
    align-items: center; 
    border-radius: 999px;
    margin-top: 1.5rem;
}
#welcome_img {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%; 
    margin-right: 1rem;
    margin-left: -0.5rem;
}

#welcome_txt {
    display: inline-block;
    
    font-family: "Lora", serif;
    font-size: 1.4rem;
    color: #fff;
}


.content-below {
    padding: 40px;
    font-size: 1.2rem;
    line-height: 1.6;
}

@media (max-width: 600px) {
    .hero-content {
        left: 5%;
        top: 10%;
        width: 90%;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content h2 {
        font-size: 1.2rem;
    }

    #welcome_area {
        width: 90%;
    }

    #welcome_txt {
        font-size: 1rem;
    }
}

.corner-pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;

    width: 35rem;
    height: 25rem;
    
    background-image: url('images/cars/fortuner.png'); 
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 1;
    
    animation: imageSlideshow 20s infinite;
}


@keyframes imageSlideshow {

    0%, 15% {
        background-image: url('images/cars/roxx.png');
    }

    11%, 20% {
        background-image: url('images/cars/fortuner.png');
    }

    21%, 30% {
        background-image: url('images/cars/scorpio\ s11.png');
    }
    31%, 40% {
        background-image: url('images/cars/scorpion.png');
    }
    41%, 50% {
        background-image: url('images/cars/thar.png');
    }
    51%, 60% {
        background-image: url('images/cars/xuv700.png');
    }
    61%, 70% {
        background-image: url('images/cars/safari.png');
    }
    71%, 80% {
        background-image: url('images/cars/roxx.png');
    }
    81%, 90% {
        background-image: url('images/cars/scorpio_s11.png');
    }
    91%, 100% {
        background-image: url('images/cars/scorpion.png');
    }
}